$blockSize: 5em;
$lineWidth: 2.5em;

body {
    background: white;
}

.board {
    border: 0;
    margin: $lineWidth;
    padding: 0;
        
    
    .pathSegment {
        background: gray;
        border: 0;
        margin: 0;
        padding: 0;
        line-height: 0;
        border: 0px solid black;
        border-radius: ($lineWidth / 2);
        z-index: 1;
        
        &.active {
            background: black;
            z-index: 2;
        }
        
        &.vertical {
            width: $lineWidth;
            height: $blockSize + ($lineWidth * 2);
            position: absolute;
            top: 0;
            left: 0;
        }
        
        &.horizontal {
            width: $blockSize + ($lineWidth * 2);
            height: $lineWidth;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    .row {
        border: 0;
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    
    .line {
        border: 0;
        margin: 0;
        padding: 0;
        line-height: 0;
        position: absolute;
        display: inline-block;
        
        &.vertical {
            width: $lineWidth;
            height: $blockSize + ($lineWidth * 2);
        }
        
        &.horizontal {
            width: $blockSize + ($lineWidth * 2);
            height: $lineWidth;
        }
    }
    
    .junction {
        border: 0;
        margin: 0;
        padding: 0;
        line-height: 0;
        position: absolute;
        display: inline-block;
        width: $lineWidth;
        height: $lineWidth;
        
        .start {
            border: 0;
            margin: 0;
            padding: 0;
            line-height: 0;
            background-color: grey;
            position: absolute;
            top: 0 - ($lineWidth / 2);
            left: 0 - ($lineWidth / 2);
            height: $lineWidth * 2;
            width: $lineWidth * 2;
            border-radius: $lineWidth;
        }
        
        &.active .start {
            background-color: black;
            z-index: 2;
        }
    }
    
    .block {
        border: 0;
        margin: 0;
        padding: 0;
        line-height: 0;
        position: relative;
        display: inline-block;
        width: $blockSize + $lineWidth;
        height: $blockSize + $lineWidth;
        
        .junction_0 {
            top: 0;
            left: 0;
        }
        
        .junction_1 {
            top: 0;
            left: $blockSize + $lineWidth;
        }
        
        .junction_2 {
            top: $blockSize + $lineWidth;
            left: 0;
        }
        
        .junction_3 {
            top: $blockSize + $lineWidth;
            left: $blockSize + $lineWidth;
        }
        
        .line_0 {
            top: 0;
            left: 0;
        }
        
        .line_1 {
            top: 0;
            left: 0;
        }
        
        .line_2 {
            top: 0;
            left: $lineWidth + $blockSize;
        }
        
        .line_3 {
            top: $lineWidth + $blockSize;
            left: 0;
        }
    }
}